{% extends '_base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'splide/splide.css' %}">
{% endblock style %}

{% block base_content %}

    {% include 'nav.html' %}

    {% block content %}
    {% endblock content %}

{% endblock base_content %}

{% block script %}
    <script src="{% static 'splide/splide.js' %}"></script>
    <script>
        const elms = document.getElementsByClassName('splide')
        for (let i = 0; i < elms.length; i++) {
            new Splide(elms[i]).mount();
        }
    </script>
{% endblock script %}